.main_parent{
    display: flex;
    justify-content: center;
}

.login_page{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;    
}

.logo_img img{
    height: 200px;
    width: auto;
}

input[type="text"],input[type="password"]{
    height: 40px;
    width: 100%;
    outline: none;
    border-bottom: 1px solid gray;
}
